.myCanvas-cont{
	position: relative;
	width: 1020px;
	height: 500px;
	margin: 30px auto;
	border: 1px solid red;
}

.myCanvas-cont canvas{
    position: absolute;
	left: 0;
	top: 0;
}

.myCanvas-cont canvas:first-child{
	z-index: 99;
}

.myCanvas-cont canvas:last-child{
	z-index: 9999;
}